<p-card *ngIf="isTokenValid" header="Change password" class="header-center">
  <form class="w-16rem sm:w-24rem px-4"  [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-inputGroup class="mb-3_5">
      <p-inputGroupAddon>
        <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <p-password [toggleMask]="true" [feedback]="false"
                  [inputStyleClass]="form.get('password')!.invalid && showInvalid ? invalidClass : undefined"
                  placeholder="Password" formControlName="password" maxlength="255" required>
      </p-password>
    </p-inputGroup>
    <button pButton type="submit" label="Save" class="w-full"></button>
  </form>
</p-card>
