<app-view-packages [menuItems]="menuItems" [bookmarkView]="true"
                   [amountLabel]="amountLabel" [buildTryUrl]="buildTryUrl"
                   [loadData]="loadData" [like]="like" [bookmark]="bookmark"
                   (openMenu)="onMenuOpen($event)" (closeMenu)="onMenuClose()"/>
<app-dialog-create-copy-generator *ngIf="showDialogCreateCopyGenerator && selectedGenerator"
                                  [(visible)]="showDialogCreateCopyGenerator"
                                  [fromGenerator]="selectedGenerator"/>
