<form class="w-16rem sm:w-24rem px-4" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-inputGroup class="mb-3_5">
    <p-inputGroupAddon>
      <i class="pi pi-at"></i>
    </p-inputGroupAddon>
    <input type="email" id="email" placeholder="Email"
           [ngClass]="form.get('email')!.invalid && showInvalid ? invalidClass : undefined"
           pInputText formControlName="email" maxlength="255" required>
  </p-inputGroup>
  <button pButton type="submit" label="Change password" class="w-full mb-3_5"></button>
  <div class="text-center">
    <p-button label="Go back to sign in" [link]="true" (click)="signIn()"></p-button>
  </div>
</form>
