<form class="w-16rem sm:w-24rem px-4"  [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-inputGroup class="mb-3_5">
    <p-inputGroupAddon>
      <i class="pi pi-at"></i>
    </p-inputGroupAddon>
    <input type="email" id="email" placeholder="Email"
           [ngClass]="form.get('email')!.invalid && showInvalid ? invalidClass : undefined"
           pInputText formControlName="email" maxlength="255" required>
  </p-inputGroup>
  <p-inputGroup class="mb-3_5">
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input type="text" id="pseudonym" placeholder="Username"
           [ngClass]="form.get('pseudonym')!.invalid && showInvalid ? invalidClass : undefined"
           pInputText formControlName="pseudonym" maxlength="64" required>
  </p-inputGroup>
  <p-inputGroup class="mb-3_5">
    <p-inputGroupAddon>
      <i class="pi pi-key"></i>
    </p-inputGroupAddon>
    <p-password [toggleMask]="true" [feedback]="false"
                [inputStyleClass]="form.get('password')!.invalid && showInvalid ? invalidClass : undefined"
                placeholder="Password" formControlName="password" maxlength="255" appendTo="body" required>
    </p-password>
  </p-inputGroup>
  <button pButton type="submit" label="Sign up" class="w-full mb-3_5"></button>
  <div class="text-center">
    <p-button label="Already have an account ?" [link]="true" (click)="signIn()"/>
  </div>
</form>
